<div class="text-center">
  <h2>{{title}}</h2>
  
  <p>{{body}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  
</div>

<div class="text-center">
  <h2>Comments:</h2>
    <p>{{comment.body}} -{{comment.user_id}}</p>
</div>